* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
}

.container {
    position: relative;
    width: 70%;
}

#title {
    text-align: center;
    margin: 15px;
}  